// colours
$chocolate: #482a12;
$chocolate-light: #845d37;
$strawberry: #b27260;
$strawberry-light: #df9e8b;
$vanilla: #f2e4d3;
$vanilla-dark: #e4c9a8;

$wood: #a38668;
$wood-light: #b9a28a;
$plate: #ffffff;
$bkgd: #e8cdc1;

$green: #008000;
$green-yellow: #698000;
$yellow: #c5b615;
$orange: #ff8000;
$red: #ff0000;

// screen sizes; landscape mode
$tablet-width-min: 1024px;
$tablet-height-min: 768px;
$tablet-width-max: 1279px;
$tablet-height-max: 799px;

$desktop-width-min: 1280px;
$desktop-height-min: 800px;
$desktop-width-max: 4199px;
$desktop-height-max: 889px;

$desktop-width-XL: 1500px;
$desktop-height-XL: 890px;