@use '../../styles/partials/variables' as *;
@use '../../styles/partials/_mixins.scss' as *;

.layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 50%;

    &--hitbox {
        height: 152px;
        border-radius: 50% / 52px;
    }
}

.layer-3 { 
    bottom: 156px; 

    &--hitbox {
        bottom: 104px;
    }
}

.layer-2 { 
    bottom: 104px; 

    &--hitbox {
        bottom: 52px;
    }
}

.layer-1 { 
    bottom: 52px; 

    &--hitbox {
        bottom: 0;
    }
}

.chocolate {
    @include foodColoring($chocolate);

    &--selected {
        @include foodColoring(lighten($chocolate, 5%));
    }
}

.vanilla {
    @include foodColoring($vanilla);

    &--selected {
        @include foodColoring(lighten($vanilla, 5%));
    }
}

.strawberry {
    @include foodColoring($strawberry);

    &--selected {
        @include foodColoring(lighten($strawberry, 5%));
    }
}

.selected {
    @include selectedGlow;

    &--inset {
        @include selectedGlow;
    }
    
}